pydantic==2.4.2
python-dotenv==1.0.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
python-socketio==5.10.0
websockets==12.0
python-dateutil==2.8.2
numpy==1.26.1
dotenv==0.21.0
socketio==0.1.0
sqlalchemy==2.0.43
email-validator==2.3.0
python-jose==3.3.0
# fastapi==0.104.1
# uvicorn==0.24.0
# python-jose[cryptography]==3.3.0
# passlib==1.7.4
# python-multipart==0.0.6
# opencv-python==4.8.1.78
# pillow==10.1.0
# passlib[bcrypt]==4.3.0 
fastapi
python-socketio[client]
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
opencv-python
pillow
