DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=
DB_PORT=3306

EMAIL_USER=
EMAIL_PASS=
FRONTEND_URL=

PORT=
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=1h
ENABLE_HLS_CONVERSION=false
AUTO_CLEANUP=true

FFMPEG_PRESET=balanced
RTSP_CAMERA1=rtsp://170.93.143.139/rtplive/470011e600ef003a004ee33696235daa
RTSP_CAMERA2=rtsp://localhost:8554/video1